:root {
	--light-theme: #ddd;
	--dark-theme: #272727;
	--dark-txt: #7c7c7c;
	--light-txt: #333;
	--light-btn: #0a8;
	--dark-btn: #40a;
	--light-title: purple;
	--dark-title: #925100;
	--light-outline: #000;
	--dark-outline: #ddd;
	--theme-bg: var(--light-theme);
	--theme-txt: var(--light-txt);
	--theme-btn: var(--light-btn);
	--theme-title: var(--light-title);
	--theme-outline: var(--light-outline)
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--theme-bg);
	transition: background-color 0.3s, color 0.3s;
}

body {
	color: var(--theme-txt);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #7b7b7b;
	border-radius: 2px;
	background-color: var(--theme-bg);
	color: var(--theme-txt);
}

select {
	-webkit-appearance: none;
}

input:disabled {
	color: #ccc;
}

button,
select {
	color: var(--theme-txt);
	background-color: var(--theme-btn);
}

button:disabled {
	/* color: #999; */
	filter: brightness(75%);
	background-color: var(--theme-btn);
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.swipedown {
	animation: swipedown 0.3s ease;
}
.swipeleft {
	animation: swipeleft 0.3s ease;
}
.swiperight {
	animation: swiperight 0.3s ease;
}

@keyframes swipedown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(14px);
	}
}
@keyframes swipeleft {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-14px);
	}
}
@keyframes swiperight {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(14px);
	}
}

@media (prefers-reduced-motion) {
	*, *::after {
		animation: none !important;
		transition: none !important;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
	--theme-bg: var(--dark-theme);
	--theme-txt: var(--dark-txt);
	--theme-btn: var(--dark-btn);
	--theme-title: var(--dark-title);
	--theme-outline: var(--dark-outline)
	}
}